/* general styles */
body{
    margin: 0;
}
.container{
    width: 80%;
    margin-left: auto;
    margin-right:auto;
}
.flex{
    display:flex;
    /* flex-wrap: wrap; */
}
/* header */
.header{
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header nav a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

/* banner */
.banner{
    background-image: url("../img/_Desktop_Overlay_ChangeStartsHere_HC@2x.webp");
    background-size: cover;
    height: 400px;
    padding:50px 0;
}

.banner h3{
    text-align: center;
}
.banner div{
    background-color: white;
    width: 40%;
    margin: 20px auto;
}

.walk_through .item{
    box-shadow: -1px 5px 5px rgb(96, 96, 96);
    padding: 10px;
    /* width: 33.33%; */
}

.img__holder img{
    width: 100%;
}

